<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "blanky"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Little George's Blanky</name>

    <description>
        An interactive, animated storybook. 
    </description>

    <author href="" email="musnit@gmail.com">
        Aidan Musnitzky 
    </author>

    <gap:platform name="ios" />
    <preference name="phonegap-version" value="3.7.0" />

</widget>

